
a{
    color:#59ADCA; 
    text-decoration-line:none;
}

label{
    color:#B9D0FA;
}

.signup-deco{
    border-radius: 10px;
}

.login-para{
    font-size:3.5em; 
    text-align:center;
    color: #B9D0FA;
}

.signup-para{
    margin-bottom:4px;
    color: #B9D0FA;
    font-size:3.5em; 

}

.login-body{
    max-height: 85vh;
}


.social{
    width : 480px; 
    height:60px; 
    background:white;
    border:1px;
    border:solid;
    border-radius: 5px;
    border-color: #B9D0FA;

}

.login-input{
    width : 480px; 
    height:60px;
    outline: none;

    border:1px;
    border:solid;
    border-radius: 5px;
    border-color : #CFEDF8; 
} 

.login-input:focus{

    border-color : #F3DADE; 
}

input::placeholder {
    color: lightgray;
  }

.signup-btn{
  width : 480px; 
  height: 60px; 
  border:none; 
  background:#B9D0FA;
  border-radius: 5px;
  color : white;

}

.vertical-line{
    height: 90vh; 
    width:.1vw;
    border-width:0; 
    color:#B9D0FA; 
    background-color:#B9D0FA;
}

.signup-submit-btn{
    width : 480px; 
    height:60px; 
    border:none; 
    background:#B9D0FA;
    border-radius: 5px;
    color : white;
}

.img-box{
    width:480px;
}

.para2{
    color:#B9D0FA
}

