{% extends 'base.html' %}

{% block content %}
<!-- <h4 style="visibility: hidden;" > {{portfolio.update_pcounter}} </h4> -->

      <div class="pdetail" style="background-color:rgba(255, 255, 255, 0.801); text-align:center;">

  
        <h1 style="padding-top:30px">{{ portfolio.title }}</h1> 
        작성일시 : {{ portfolio.created_at }}
        <br>
        {% comment %} 조회수 : {{portfolio.p_views}}  {% endcomment %}
            {% comment %} # models에 p_views = models.PostitiveIntegerField(default=0) 넣으면 조회수 수집 {% endcomment %}
        {% if request.user.is_authenticated %}
          <a style="background-color: yellowgreen;color:black;margin-left:250px;"href="{% url 'portfolios:delete' portfolio.pk %}"> 삭제 </a>
          <a style="background-color: yellowgreen;color:black;margin-left: 20px;"href="{% url 'portfolios:update' portfolio.pk %}"> 수정 </a>
        {% endif %}
        <a style="background-color: yellowgreen;color:black; margin-left:15px;"href="{% url 'portfolios:projectlist' %}"> 돌아가기 </a>
        <br>
        <hr>
        <div>
          {% for image in images %}
              <img src="{{ image.image.url }}" alt="none" width="600" height="500">
          {% endfor %}
        </div>
        <p style="margin-top:20px;text-align:left;margin-left:320px;">{{ portfolio.content|safe }}</p> 
        <hr>
        <p style="margin-top:20px;text-align:center;">  프로젝트 링크 : {{ portfolio.p_link }}</p>
            {% comment %} # 추후 해당 프로젝트 등록된 깃허브 링크 작성 {% endcomment %}

        
        <br>
        <br>
        <br>
        <br>
        
        
      </div>

{% endblock %}
