{% extends 'base.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'portfolios/css/index.css' %}">

    <audio autoplay>
        <source src="{% static 'portfolios/audio/bgm.mp3' %}" type='audio/mp3'>
    </audio>

    <div id="main_index">
        <img src="{% static 'portfolios/img/index_main.png' %}" alt="" id='index_main_img'>
        <h1 id="index_main_text">우폴레몽</h1>
    </div>
    
    <section class="page-section bg-light">
        <div class="container">
            <div>
                <h1 id="team_head">- 딩코 팀 소개 -</h1>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <div class="team_member">
                        <img class="mx-auto rounded-circle" src="{% static 'portfolios/img/kty.png' %}" alt="..." />
                        <h4>김태영</h4>
                        <p class="member_comment">코딩을 즐기는 사람</p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="team_member">
                        <img class="mx-auto rounded-circle" src="{% static 'portfolios/img/khh.png' %}" alt="..." />
                        <h4>김희현</h4>
                        <p class="member_comment">팀의 막내</p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="team_member">
                        <img class="mx-auto rounded-circle" src="{% static 'portfolios/img/sjw.png' %}" alt="..." />
                        <h4>심재원</h4>
                        <p class="member_comment">팀의 굳건한 맏형</p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="team_member">
                        <img class="mx-auto rounded-circle" src="{% static 'portfolios/img/ydh.png' %}" alt="..." />
                        <h4>여도현</h4>
                        <p class="member_comment">코딩이 제일 쉬웠어요</p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="team_member">
                        <img class="mx-auto rounded-circle" src="{% static 'portfolios/img/jwj.png' %}" alt="..." />
                        <h4>정원재</h4>
                        <p class="member_comment">기술 고문</p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="team_member">
                        <img class="mx-auto rounded-circle" src="{% static 'portfolios/img/cyk.png' %}" alt="..." />
                        <h4>최유경</h4>
                        <p class="member_comment">응원 담당</p>
                    </div>
                </div>
            </div>
        </div>
    
    

{% endblock content %}