{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'accounts/css/acounts.css' %}">
<div class="login-body d-flex justify-content-evenly align-items-center">
  {% comment %} 로그인폼 {% endcomment %}
    <div> 

        <p class="login-para">Login</p>
        <form action="" method="POST"  >
            {% csrf_token %}

            <label for="id_username">Name</label>
            <br>
            <input type="text"  name="username" placeholder="Name" class="mt-2 mb-4 login-input " >
            <br>

            <label for="id_password">PASSWORD</label>
            <br>
            <input type="password" name="password" placeholder="PASSWORD" class=" mt-2 mb-3 login-input " >
            <br>

            <div class="d-flex justify-content-between">
                <div>
                    <input type="checkbox" id="remeber">
                    <label for="remeber">Remember me</label>        
                </div>
                
                <a href="">Forgot your password?</a>
            </div>

            <input type="submit" value="Sign in" class="signup-btn my-4">
            <br>

            <div class="d-flex justify-content-center">
                <p>
                    Don't have an account? 
                    <a href="{% url 'accounts:signup' %}" >Create account</a>
                </p>  
            </div>
            
        </form>
        
  </div>

        <div class="vertical-line"></div>


  {% comment %} 소셜로그인폼 {% endcomment %}  
    <div>
        <button class=" mb-4 social"> 
            <img src="{% static 'accounts/img/icons/facebook-icon.png' %}" width ="40px" alt="none facebook img">
            &nbsp; Sign in with Facebook
        </button>
        <br>
        <button class="mb-4 social">
            <img src="{% static 'accounts/img/icons/google-icon.png' %}" width ="40px" alt="none google img">
            Sign in with Google
        </button>
        <br>
        <button class="mb-4 social">
            <img src="{% static 'accounts/img/icons/kakao-icon.png' %}" width ="40px" alt="none kakao img">
            &nbsp; Sign in with Kakao
        </button>
        <br>
        <button class= "social">
            <img src="{% static 'accounts/img/icons/naver-icon.png' %}" width ="40px" alt="none naver img">
            Sign in with Naver
        </button>
    </div>
</div>
<script>
    const socials = document.querySelectorAll(".social")

    socials.forEach((social) => {
        social.addEventListener('click', function () {
            alert('아직 미구현 상태입니다.')
        })
    })
</script>
{% endblock content %}