{% extends 'base.html' %}

{% block content %}
<div class="d-flex justify-content-evenly align-items-center" style="max-height: 90vh;">
  {% comment %} 로그인폼 {% endcomment %}
    <div > 
        <h1 style="text-align:center;">Woopolemong</h1>
        <p style="font-size:30px; text-align:center;">Login</p>
        <form action="" method="POST"  >
            {% csrf_token %}

            <label for="id_username">ID</label>
            <br>
            <input type="text" id="id_username" name="username" placeholder="ID" class="mt-2 mb-4 " style="width : 480px; height:50px">
            <br>

            <label for="id_password">PASSWORD</label>
            <br>
            <input type="password" id="id_password" name="password" placeholder="PASSWORD" class=" mt-2 mb-3" style="width : 480px; height:50px">
            <br>

            <div class="d-flex justify-content-between"
            >
                <div>
                    <input type="checkbox" id="remeber">
                    <label for="remeber">Remember me</label>        
                </div>
                
                <a href="" style="color:#59ADCA; text-decoration-line:none;">Forgot your password?</a>
            </div>

            <input type="submit" value="Sign in" style="width : 480px; height:50px; border:none; background:#CFEDF8" class="my-4">
            <br>

            <div class="d-flex justify-content-center">
                <p>
                    Don't have an account? 
                    <a href="" style="color:#59ADCA; text-decoration-line:none;">Create account</a>
                </p>  
            </div>
            
        </form>
        
  </div>

        <div style="height: 90vh; width:.1vw; border-width:0; color:#000; background-color:#D9D9D9;"></div>


  {% comment %} 소셜로그인폼 {% endcomment %}  
    <div>
        <button style="width : 480px; height:60px; background:white" class="mb-4"> 
            <img src="" alt="none facebook img">
            Sign in with Facebook
        </button>
        <br>
        <button style="width : 480px; height:60px; background:white" class="mb-4">
            <img src="/static/logo/google-logo.png" alt="none google img">
            Sign in with Google
        </button>
        <br>
        <button style="width : 480px; height:60px; background:white" class="mb-4">
            <img src="" alt="none kakao img">
            Sign in with Kakao
        </button>
        <br>
        <button style="width : 480px; height:60px; background:white">
            <img src="" alt="none naver img">
            Sign in with Naver
        </button>
    </div>
</div>

{% endblock content %}